.btn {
    border-radius: 0;
    background: $main-color;
    color: black;
    font-weight: 700;
    &.danger {
        background-color: red;
    }
}


button.transparent, a.transparent {
    padding: 0 5px;
    color: black;
    cursor: pointer;
    line-height: 19px;
    margin-left: 7px;
    margin-bottom: 5px;
    background: transparent;
    border: 1px solid #cecece;
    transition: all, $transition-speed;
    outline: none;
    &.noHover:hover {
        background: transparent;
    }
    &.checked.noHover:hover {
        background: #cecece;
    }
    &:hover {
        background: #cecece;
    }
    &.checked {
        background: #cecece;
    }
}