@import 'global-settings.scss';
@import 'navigation-bar.scss';
@import 'side-bar.scss';
@import 'buttons.scss';

body { 
    background: $background-color;
    min-width: 340px;
    font-family: $main-font;
}

hr {
    border-top: 1px solid $main-color;
}

.statisticsTable {
    border: none;
    margin: 0;
    tr {
        border: none;
    }
    td {
        padding: 0;
        border: none;
        width: 50%;
        &:first-of-type {
            font-weight: 700;
            text-align: right;
            border: none;
        }
        &:last-of-type {
            padding-left: 10px;
            text-align: left;
        }
    }
}
.commend-star {
    float: right;
    transition: all, $transition-speed;
    color: #969696;
    text-decoration: none;
    margin-top: -2px;
    background: transparent;
    border: none;
    outline: none;
    &:hover {
        color: green;
    }
    span:first-of-type {
        top: 4px;
    }
    &.green {
        color: green;
        &:hover {
            color: #969696;
        }
    }
}
.boxWrapper {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    h1 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    &.heading {
        h1, p {
            margin: 0;
        }
    }
}
.extendedNotification {
    margin-bottom: 0;
    margin-top: 1px;
    p {
        margin: 0;
    }
    transition: all, $transition-speed;
    &:first-of-type {
        margin-top: $default-margin;
    }
    &:last-of-type {
        margin-bottom: $default-margin;
    }
    hr {
        margin: 0;
    }
    &.unread {
        background: $background-color;        
    }
    .buttons {
        float: right;
        a {
            margin-left: 5px;
        }
    }
}
.form-control {
    border-radius: 0;
}

.bg-color {
    background-color: $background-color;
}
ul.notifications {
    width: 310px;
    li {
        p {
            margin: 0;
        }
        font-size: 13px;
        &.unread {
            background-color: $background-color;
            &:not(:first-of-type) {
                border-top: 1px solid $main-color;
            }
        }
        a {
            hr {
                margin: 0;
            }
            white-space: initial;
        }
    }
}
.fader {
    display: none;
    color: red;
    font-weight: 700;
}
input, textarea {
    margin-bottom: 10px;
}

.requested-box {
    max-height: 300px;
    overflow: auto;
    div {
        border: 1px solid $main-color;
        margin-bottom: $default-margin;
    }
    button {
        background: transparent;
        border: none;
        .green {
            color: green;
        }
        .gray {
            color: gray;
        }
    }
}

.ui-front {
    z-index: 10000000;
}
.messageCount {
    border-radius: 100px;
    background: red;
    text-align: center;
    line-height: 28px;
    height: 28px;
    width: 28px;
    margin-top: -4px;
    display: inline-block;
    font-weight: 700;
    color: white;
}

a:hover {
    text-decoration: none;
}

.specification-side {
    background: white;
    padding-top: 15px;
    padding-bottom: 26px;
    h2{
        font-weight: 300;
        font-size: 28px;
        padding-bottom: 10px;
        display: block;
        border-bottom: 2px solid $main-color;
    }
    p {
        margin-left: 15px;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
    }
    form {
        padding-right: 15px;
        padding-top: 26px;
    }
}

.footer-side {
    background: #E9E9E9;
    font-family: $main-font;
    font-weight: 300;
    padding-top: 4px;
    text-align: center;
    p {
        margin-bottom: 0;
    }
}

.profile-form {
    padding: 0 30px;
    h2 {
        font-family: $main-font;
        font-weight: 300;
        font-size: 30px;
    }
}

.form-group {
    margin-bottom: 26px;
}

.application {
    background: white;
    .main {
        min-height: 500px;
    }
}

ul.tagit {
    margin-bottom: 0; 
}

.invisi-table {
    border: none;
    tr {
        border: none;
    }
    td:not(:last-of-type) {
        border-right: 1px solid gray;
    }
}
.conversation {
    .send-message {
        margin-top: 10px;
        .input-group-addon {
            padding: 0;
            border: none;
            border-radius: 0;
        }
    }
    .reply {
        &:last-of-type {
            margin-bottom: 0;
        }
        transition: all $transition-speed;
        border-left: 2px solid $main-color;
        padding-left: 10px;
        margin-bottom: $default-margin; 
        .replyComment {
            font-weight: 700;
            font-size: 15px;
            margin: 10px;
        }
        .reply {
            margin-bottom: 0;
            padding-bottom: 5px;
            line-height: 14px;
            padding-left: 10px;
        }
        .green {
            font-weight: 600;
            color: green;
        }
        .red {
            font-weight: 600;
            color:red;
        }
        hr {
            margin: 0;
        }
        p {
            margin: 0;
        }
        .created {
            font-weight: 600;
            color: gray;
        }
        .reply-button {
            display: inline-block;
        }
    }
}

.person {
    font-weight: 700;
}

.group-options {
    list-style-type: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 3px;
    border: 1px solid #ccc;
    border-top: 0;
    height: 30px;
    line-height: 30px;
}

table {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    tr {
        border: 1px solid #ccc;
        &>td:not(:last-of-type), &>th:not(:last-of-type) {
            border-right: 1px solid #ccc;
        }
        &>td:last-of-type {
            text-align: center;
        }
        td {
            padding: 5px 10px;
            .glyphicon-remove {
                color: red;
            }
        }
    }
    th {
        padding: 10px;
        text-align: center;
        background: $main-color;
    }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border-radius: 0;
}

.group-options {
    li {
        display: inline;
        &:not(:last-of-type) {
            border-right: 1px solid #ccc;
            line-height: 30px;
            height: 30px;
            padding: 0;
            display: inline-block;
            padding-right: 3px;
        }
        &:not(:last-of-type) {
            a {
                margin-right: 2px;
            }
        }
    }
}

.tab-pane {
    .switcher {
        position: absolute;
        top: 1px;
        right: 1px;
        background: orange;
        padding: 0px 4px;
        color: black;
        font-weight: 600;
        &:focus, .tab-pane &:hover, .tab-pane &:active {
            text-decoration: none;
        }
        &:hover {
            color: white;
        }
    }
}

.postedAlgorithms {
    margin-top: 20px;
}

.main p>span {
    font-weight: 700;
}
.postedAlgorithm, .requested-box, .groupManager, .styled-list-member {
    h2 {
        border-bottom: 1px solid orange;
        background-color: white;
        margin-bottom: 5px;
        padding-left: 15px;
        font-weight: 300;
        font-size: 25px;
        margin-top: 0;
    }

    p {
        padding-left: 15px;
        margin-bottom: 1px;
         span {
            font-weight: 600;
        }
    }
    .glyphicon-remove {
        color: red;
        top: 2px;
    }
}


p.subtitle {
    font-style: italic;
    font-weight: 700;
    padding-left: 20%;
    .commend-star {
        float: initial;
        span:first-of-type {
            top: 2px;
        }
    }
}

textarea {
    resize: none;
}
.conversation {
    .input-group-addon {
        background-color: $main-color;
    }
}

.statisticsBox {
    position: absolute;
    right: 30px;
    .glyphicon-arrow-up {
        color: #1bc11b;
    }
    .glyphicon-arrow-down {
        color: orangered;
    }
    .report {
        a {
            color: #933513;
        }
    }
}

.ace_gutter {
    width: 120px;
    .ace_layer {
        width: 120px !important;
        .ace_gutter-cell:hover {
            background: white;
            color: black;
            cursor: pointer;
        }
    }
}


@media screen and (min-width: 992px) {
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }
}

@media (max-width: 767px) {
    
}