.top-navbar .navbar-brand {
  color: white;
  padding-right: 0;
  transition: all 0.2s;
}
.top-navbar .navbar-nav > li > .dropdown-menu {
  padding: 0;
}
.top-navbar .navbar-nav > li > .dropdown-menu li a {
  transition: all 0.2s;
}
.top-navbar .navbar-nav > li > a {
  transition: all 0.2s;
  color: black;
  font-weight: 500;
  height: 50px;
}
.top-navbar .navbar-nav > li > a:hover {
  color: white;
}
.top-navbar.navbar-default {
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
  border: none;
}
.top-navbar.navbar-default .navbar-nav .open > a, .top-navbar.navbar-default .navbar-nav .open > a:focus, .top-navbar.navbar-default .navbar-nav .open > a:hover {
  color: white;
  background: transparent;
}
.top-navbar.navbar-default .navbar-toggle {
  transition: all 0.2s;
  border-color: white;
}
.top-navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.top-navbar.navbar-default .navbar-toggle:focus {
  background-color: #F1BB59;
}
.top-navbar.navbar-default .navbar-toggle:hover {
  background-color: white;
}
.top-navbar.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #F1BB59;
}
.top-navbar .container {
  background: #F1BB59;
}

.dropdown-menu .divider {
  margin: 0;
}

@media (max-width: 767px) {
  .top-navbar.navbar-default .navbar-nav .open .dropdown-menu > li {
    transition: all 0.2s;
  }
  .top-navbar.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: black;
    font-weight: 500;
  }
  .top-navbar.navbar-default .navbar-nav .open .dropdown-menu > li:hover {
    background: white;
  }
}
.sidebar {
  padding: 0;
  background: white;
}
.sidebar a {
  font-size: 12px;
}
.sidebar .closeConversation:before {
  content: '| ';
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  border: 1px solid #F1BB59;
}
.sidebar ul li {
  margin-bottom: 0;
}
.sidebar ul li:not(:first-of-type) {
  border-top: 1px solid #F1BB59;
}
.sidebar ul li a {
  color: black;
  display: block;
  width: 100%;
  padding-left: 5px;
}
.sidebar ul li a span {
  font-weight: 600;
}
.sidebar ul li a:hover, .sidebar ul li a:active, .sidebar ul li a:focus {
  color: black !important;
  background: #E9E9E9;
  text-decoration: none;
}
.sidebar ul li p {
  margin: 0;
  font-size: 13px;
}
.sidebar ul li.selected {
  background: #F1BB59;
}
.sidebar ul li.notSeen {
  background: #bfbfbf;
}

.btn {
  border-radius: 0;
  background: #F1BB59;
  color: black;
  font-weight: 700;
}
.btn.danger {
  background-color: red;
}

body {
  background: #E9E9E9;
  min-width: 340px;
  font-family: "Open Sans", sans-serif;
}

hr {
  border-top: 1px solid #F1BB59;
}

.statisticsTable {
  border: none;
  margin: 0;
}
.statisticsTable tr {
  border: none;
}
.statisticsTable td {
  padding: 0;
  border: none;
  width: 50%;
}
.statisticsTable td:first-of-type {
  font-weight: 700;
  text-align: right;
  border: none;
}
.statisticsTable td:last-of-type {
  padding-left: 10px;
  text-align: left;
}

.commend-star {
  float: right;
  transition: all, 0.2s;
  color: #969696;
  text-decoration: none;
  margin-top: -2px;
  background: transparent;
  border: none;
  outline: none;
}
.commend-star:hover {
  color: green;
}
.commend-star span:first-of-type {
  top: 4px;
}
.commend-star.green {
  color: green;
}
.commend-star.green:hover {
  color: #969696;
}

.boxWrapper {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
}
.boxWrapper h1 {
  margin-top: 10px;
  margin-bottom: 0px;
}
.boxWrapper.heading h1, .boxWrapper.heading p {
  margin: 0;
}

.extendedNotification {
  margin-bottom: 0;
  margin-top: 1px;
  transition: all, 0.2s;
}
.extendedNotification p {
  margin: 0;
}
.extendedNotification:first-of-type {
  margin-top: 20px;
}
.extendedNotification:last-of-type {
  margin-bottom: 20px;
}
.extendedNotification hr {
  margin: 0;
}
.extendedNotification.unread {
  background: #E9E9E9;
}
.extendedNotification .buttons {
  float: right;
}
.extendedNotification .buttons a {
  margin-left: 5px;
}

.form-control {
  border-radius: 0;
}

.bg-color {
  background-color: #E9E9E9;
}

ul.notifications {
  width: 310px;
}
ul.notifications li {
  font-size: 13px;
}
ul.notifications li p {
  margin: 0;
}
ul.notifications li.unread {
  background-color: #E9E9E9;
}
ul.notifications li.unread:not(:first-of-type) {
  border-top: 1px solid #F1BB59;
}
ul.notifications li a {
  white-space: initial;
}
ul.notifications li a hr {
  margin: 0;
}

.fader {
  display: none;
  color: red;
  font-weight: 700;
}

input, textarea {
  margin-bottom: 10px;
}

.requested-box {
  max-height: 300px;
  overflow: auto;
}
.requested-box div {
  border: 1px solid #F1BB59;
  margin-bottom: 20px;
}
.requested-box button {
  background: transparent;
  border: none;
}
.requested-box button .green {
  color: green;
}
.requested-box button .gray {
  color: gray;
}

.ui-front {
  z-index: 10000000;
}

.messageCount {
  border-radius: 100px;
  background: red;
  text-align: center;
  line-height: 28px;
  height: 28px;
  width: 28px;
  margin-top: -4px;
  display: inline-block;
  font-weight: 700;
  color: white;
}

a:hover {
  text-decoration: none;
}

.specification-side {
  background: white;
  padding-top: 15px;
  padding-bottom: 26px;
}
.specification-side h2 {
  font-weight: 300;
  font-size: 28px;
  padding-bottom: 10px;
  display: block;
  border-bottom: 2px solid #F1BB59;
}
.specification-side p {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}
.specification-side form {
  padding-right: 15px;
  padding-top: 26px;
}

.footer-side {
  background: #E9E9E9;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-top: 4px;
  text-align: center;
}
.footer-side p {
  margin-bottom: 0;
}

.profile-form {
  padding: 0 30px;
}
.profile-form h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.form-group {
  margin-bottom: 26px;
}

.application {
  background: white;
}
.application .main {
  min-height: 500px;
}

ul.tagit {
  margin-bottom: 0;
}

.conversation .send-message {
  margin-top: 10px;
}
.conversation .send-message .input-group-addon {
  padding: 0;
  border: none;
  border-radius: 0;
}
.conversation .reply {
  transition: all 0.2s;
  border-left: 2px solid #F1BB59;
  padding-left: 10px;
  margin-bottom: 20px;
}
.conversation .reply .replyComment {
  font-weight: 700;
  font-size: 15px;
  margin: 10px;
}
.conversation .reply .reply {
  margin-bottom: 0;
  padding-bottom: 5px;
  line-height: 14px;
  padding-left: 10px;
}
.conversation .reply .green {
  font-weight: 600;
  color: green;
}
.conversation .reply .red {
  font-weight: 600;
  color: red;
}
.conversation .reply hr {
  margin: 0;
}
.conversation .reply p {
  margin: 0;
}
.conversation .reply .created {
  font-weight: 600;
  color: gray;
}
.conversation .reply .reply-button {
  display: inline-block;
}

.person {
  font-weight: 700;
}

.group-options {
  list-style-type: none;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 3px;
  border: 1px solid #ccc;
  border-top: 0;
  height: 30px;
  line-height: 30px;
}

table {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
table tr {
  border: 1px solid #ccc;
}
table tr > td:not(:last-of-type), table tr > th:not(:last-of-type) {
  border-right: 1px solid #ccc;
}
table tr > td:last-of-type {
  text-align: center;
}
table tr td {
  padding: 5px 10px;
}
table tr td .glyphicon-remove {
  color: red;
}
table th {
  padding: 10px;
  text-align: center;
  background: #F1BB59;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-radius: 0;
}

.group-options li {
  display: inline;
}
.group-options li:not(:last-of-type) {
  border-right: 1px solid #ccc;
  line-height: 30px;
  height: 30px;
  padding: 0;
  display: inline-block;
  padding-right: 3px;
}
.group-options li:not(:last-of-type) a {
  margin-right: 2px;
}

.tab-pane .switcher {
  position: absolute;
  top: 1px;
  right: 1px;
  background: orange;
  padding: 0px 4px;
  color: black;
  font-weight: 600;
}
.tab-pane .switcher:focus, .tab-pane .tab-pane .switcher:hover, .tab-pane .tab-pane .switcher:active {
  text-decoration: none;
}
.tab-pane .switcher:hover {
  color: white;
}

.postedAlgorithms {
  margin-top: 20px;
}

.main p > span {
  font-weight: 700;
}

.postedAlgorithm h2, .requested-box h2, .groupManager h2 {
  border-bottom: 1px solid orange;
  background-color: white;
  margin-bottom: 5px;
  padding-left: 15px;
  font-weight: 300;
  font-size: 25px;
  margin-top: 0;
}
.postedAlgorithm p, .requested-box p, .groupManager p {
  padding-left: 15px;
  margin-bottom: 1px;
}
.postedAlgorithm p span, .requested-box p span, .groupManager p span {
  font-weight: 600;
}
.postedAlgorithm .glyphicon-remove, .requested-box .glyphicon-remove, .groupManager .glyphicon-remove {
  color: red;
  top: 2px;
}

p.subtitle {
  font-style: italic;
  font-weight: 700;
  padding-left: 20%;
}
p.subtitle .commend-star {
  float: initial;
}
p.subtitle .commend-star span:first-of-type {
  top: 2px;
}

textarea {
  resize: none;
}

.conversation .input-group-addon {
  background-color: #F1BB59;
}

.statisticsBox {
  position: absolute;
  right: 30px;
}
.statisticsBox .glyphicon-arrow-up {
  color: #1bc11b;
}
.statisticsBox .glyphicon-arrow-down {
  color: orangered;
}
.statisticsBox .report a {
  color: #933513;
}

.posted .ace_gutter {
  width: 120px;
}
.posted .ace_gutter .ace_layer {
  width: 120px !important;
}
.posted .ace_gutter .ace_layer .ace_gutter-cell:hover {
  background: white;
  color: black;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
